
.mainBanner{
    /*height: 150px;*/
    /*background:*/
    /*        url("https://kaifolog.ru/uploads/posts/2015-02/thumbs/1424426494_012.jpg")*/
    /*        no-repeat*/
    /*        0 / cover;*/
    /*margin: 0 0 15px 15px;*/
}
.user{
    margin: 0 0 15px 15px;
    display: flex;
    justify-content: start;
    align-items: center;

}
.user_photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.userPhoto{
    width: 230px;
    height: 230px;
}

.user_desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.user_desc_title{
    font-weight: bold;
    font-size: 20px;
}
.user_desc_about{
    font-weight: bold;
    font-size: 18px;
}





