
.news{
    padding: 10px;
    background-color: dodgerblue;
}

.posts{
    margin: 10px 30px 10px 15px;

}

.newsButton{
    padding: 3px 25px 2px 10px;
    background-color: orange;
    margin-top: 10px;
    float: right;

}

.postsBox{
    max-height: 210px;
    overflow-y: scroll;
}

.postsBox::-webkit-scrollbar {
    display: none;
}
